html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

body {
    color: #222222;
    font-family: Verdana,Arial,Helvetica,Geneva,sans-serif;
    font-style: normal;
    font-variant: normal;
    background: none repeat scroll 0% 0% #ECE4D8;
}

.header {
    position: relative;
    z-index: 2;
    margin: 20px auto;
    max-width: 852px;
    display: block;
    background-color: #CD596B;
    border: 4px solid #7C334F;
    padding: 2px;
}

h1 {
    background-color: #7C334F;
    font-size: 1.8em;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    color: #ECE4D8;
    text-align: center;
    line-height: 1;
    padding: 14px 20px;
}

h2 {
    font-size: 1.3em;
    font-weight: 800;
    font-style: normal;
    color: #7C334F;
    line-height: 1;
    padding: 8px 0 20px 0;
}

.karte, .donate, .about {
    position: relative;
    overflow: hidden;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #7C334F;
    margin-bottom: 30px;
    background-color: #ECE4D8;
}

.donate, .about {
    padding: 20px;
    width: 820px;
}

.kartenwrapper {
    width: 100%;
    display: table;
    overflow: hidden;
}

.kartenvertical {
    width: 100%;
    display: table-cell;
    vertical-align: top;
}

.kartencontent:before {
    content: "";
    float: left;
    padding-bottom: 100%;
}

.kartencontent:after {
    content: "";
    display: table;
    clear: both;
}

.kartencontent {
    max-width: 860px;
    background: #ccc url("../img/westafrica.jpg") center center no-repeat;
    position: relative;
    width: 100%;
    background-size: cover;

}

.circle-fall:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #666;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle-fall div {
    float: left;
    width: 100%;
    padding-top: 50%;
    line-height: 1em;
    margin-top: -1.2em;
    text-align: center;
    color: white;
}

.circle-tot:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #000;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.circle-tot div {
    float: left;
    width: 100%;
    padding-top: 50%;
    /*     line-height:1em; */
    margin-top: -1.2em;
    text-align: center;
    color: white;
}

.circle-gesamttot div {
    margin-top: -2em;
}

.circle, .kartenlink {
    position: absolute;
    font-size: 0.9em;
    line-height: 1.1em;
    opacity: 0.8;
}

.kartenlink {
    cursor: pointer;
}

.gesamt {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em
}

.gesamtinfo {
    font-size: 1.3em;
    line-height: 1em
}

.gesamtzahl {
    font-size: 2em;
    font-weight: bold;
    line-height: 1em
}

.landzahl {
    font-weight: bold
}

.stand {
    width: 100%;
    text-align: right;
    font-size: 10px;
    margin-top: 10px;
    line-height: 18px;
    margin-bottom: 40px;
}